.blog {
    width: $width-md;
    margin: auto;

    h1 {
        font-size: $h1-size * 2;
    }
}

@media only screen and (max-width: $width-md) {
    .blog {
        width: $width-sm;

        h1 {
            font-size: $h1-size * 2;
        }
    }
}

@media only screen and (max-width: $width-sm) {
    .blog {
        width: 95%;

        h1 {
            font-size: $h1-size * 1.5;
        }
    }
}
