// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 200px;
    background: $dark-color;
    text-transform: uppercase;
    position: relative;

    .social {
        margin-left: 10px;
        a {
            margin-left: 10px;
            margin-right: 10px;
            transition: 0.2s;

            &:hover {
                color: $warning-color;
            }
        }
    }
}
