.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: $nav-height;
    padding-left: 30px;
    padding-right: 30px;

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    a {
        transition: 0.2s;
        &:hover {
            text-decoration: none;
        }
    }
}
